:root{
  --corFundo : #b5c8c4;
  --corPrimaria : #3a9c3d;
  --corSecundaria: #e3a6ab;
  --corHover: #e8583e;
  --corTexto1: #000000;
  --corTexto2:#ffffff;
}
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.menu{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.menu li{
  list-style: none;
  border-bottom: 2px solid var(--corPrimaria);
}
.menu li:hover {
  border-bottom: 2px solid var(--corHover);
}
.menu a{
  text-decoration: none;
  color: var(--corTexto1);
  font-family: "Caprasimo", serif;
  font-size: larger;
}
.mainPrimeiro{
  width: 100%;
  height: 660px;
  background-color: var(--corFundo);
  background-image:url(./Imagens/fundo\ 1.png);
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
.sobreh1{
  color: var(--corTexto1);
  font-family: "Caprasimo", serif;
  font-size: 30px;
}
.inicioh1{
  color: var(--corTexto1);
  font-family: "Caprasimo", serif;
  font-size: 30px;
}
.jogoConstruct{
  width: 80%;
  height: 96%;
  background-color: white;
  border-radius: 10px;
}
.jogoInicio{
  width: 80%;
  height: 96%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jogoInicio img{
  width: 93%;
  height: 93%;
}
#mainPrimeiroInicio{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mainPrimeiroInicio h1{
  text-align: center;
}
.botaoJogueAgora a{
  color: var(--corTexto1);
  text-decoration: none;
  font-family: "Caprasimo", serif;
  background-color: var(--corSecundaria);
  font-size: 25px;
  border: 4px solid var(--corTexto1);
  border-radius: 10px;
}
.botaoJogueAgora a:hover{
  background-color: var(--corHover);
}
#mainPrimeiroSobre{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.blocoDesenvolvedores{
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--corSecundaria);
  border-radius: 10px;
  padding: 0px 20px;
}
.desenvolvedores{
  width: 25%;
  height: 90%;
  margin: 5px;
  background-color: var(--corTexto2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.desenvolvedores div{
  padding-top: 15px;
}
.desenvolvedores img{
  margin: 5px 5px;
  border-radius: 100%;
  width: 73%;
}
.desenvolvedores h1{
  color: var(--corTexto1);
  font-family: "Caprasimo", serif;
  font-size: 23px;
  
}
.desenvolvedores h2{
  font-family: "Caprasimo", serif;
  font-size: 19px;
  color: var(--corTexto1);
}
@media screen and (max-width: 755px){
  .mainPrimeiro{
    height: 100%;
  }
  .blocoDesenvolvedores{
    height: 100%;
    flex-direction: column;
  }
  .desenvolvedores{
    width: 90%;
  }
  #mainPrimeiroInicio{
    height: 520px;
  }
}